body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #EDFFEC;
    color: #26443B;
}

.navbar {
    background-color: #26443B;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1rem;
}

.navbar a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #56C389;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
    margin-top: 20px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

a {
    color: #268181;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

